

.button {
    background-color: #ddd;
    color: black;
    width: 600px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .button id="answer1">Click</button> {
  .button id="answer2">Click</button>
  .button id="answer3">Click</button>
  .button id="answer4">Click</button>
    }
    
.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}


