

.button {
    background-color: #ddd;
    color: black;
    width: 600px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
